/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Playfair:opsz,wght@5..1200,700&family=Raleway:wght@400;700&family=Roboto:wght@300;400;500&family=Yantramanav:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #000;
  color: #c4c4c4;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fdbf2d;
}

a,
button,
input,
textarea,
svg * {
  transition: 0.2s ease-in;
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding-inline: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

p {
  margin-bottom: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.title-medium {
  font-size: clamp(24px, 2.08vw, 40px);
  line-height: 1.3;
  color: #fff;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.input {
  width: 100%;
  height: 54px;
  padding-inline: 25px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #404040;
  border-radius: 30px;
}
.input::-moz-placeholder {
  color: #c4c4c4;
}
.input::placeholder {
  color: #c4c4c4;
}
.input:hover {
  border-color: #c4c4c4;
}
.input:focus {
  border-color: #c4c4c4;
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.section__description {
  color: #fff;
  line-height: 1.65;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section__description {
    font-size: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  background-color: #131619;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-inline: 32px;
}
@media screen and (max-width: 990px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media screen and (max-width: 990px) {
  .header__menu {
    order: 1;
    flex-basis: 100%;
  }
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 767px) {
  .header__menu-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 90px;
  text-transform: uppercase;
  -moz-tab-size: 12px;
    -o-tab-size: 12px;
       tab-size: 12px;
  letter-spacing: 1.2;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .header__menu-link {
    height: 32px;
  }
}
.header__actions {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__actions {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 7px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}
.header__burger-button:hover {
  border-color: currentColor;
  color: #fdbf2d;
}
.header__burger-button-line {
  width: 8px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.banner {
  padding: 36px 70px;
  min-height: calc(100vh - 90px);
  background-color: #131619;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 990px) {
  .banner {
    padding-inline: 15px;
    row-gap: 10px;
  }
}
.banner__body {
  text-transform: uppercase;
}
.banner__info {
  display: flex;
  align-items: end;
  line-height: 1.27;
  font-weight: 700;
  font-size: clamp(16px, 1.56vw, 30px);
}
@media screen and (max-width: 990px) {
  .banner__info {
    margin-bottom: 5px;
  }
}
.banner__info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("../../icons/bold-arrow-down-right.svg") center/contain no-repeat;
}
@media screen and (max-width: 990px) {
  .banner__info::before {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}
.banner__pagination-list {
  display: flex;
  justify-content: center;
}
.banner__pagination-item {
  display: flex;
}
.banner__pagination-button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 7px;
}
.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  transition-duration: 0.2s ease-in;
}
.banner__pagination-button.is-current::after {
  background-color: #fff;
}
.banner__pagination-button:not(.is-current):hover::after {
  border-color: #fff;
}

.motivation__item:nth-child(even) {
  background-color: #131619;
}
.motivation__item:nth-child(even) .motivation__card {
  flex-direction: row-reverse;
}
.motivation__card {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(30px, 10.42vw, 200px);
       column-gap: clamp(30px, 10.42vw, 200px);
}
.motivation__card-body {
  padding-left: 35px;
}
@media screen and (max-width: 990px) {
  .motivation__card {
    padding-block: 50px;
  }
}
@media screen and (max-width: 767px) {
  .motivation__card {
    row-gap: 30px;
    padding-block: 30px;
  }
}
@media screen and (max-width: 767px) {
  .motivation {
    padding-block: 50px;
  }
  .motivation__card, .motivation__item:nth-child(even) .motivation__card {
    flex-direction: column-reverse;
  }
}
.motivation__card-image {
  margin-block: -60px;
}
@media screen and (max-width: 990px) {
  .motivation__card-image {
    max-width: 40%;
    height: auto;
    margin-block: 0;
  }
}
@media screen and (max-width: 767px) {
  .motivation__card-image {
    min-width: 60%;
  }
}
.motivation__card-title:not(:last-child) {
  margin-bottom: 14px;
}
.motivation__card-description {
  max-width: 400px;
}
.motivation__card-description:not(:last-child) {
  margin-bottom: 37px;
}
@media screen and (max-width: 767px) {
  .motivation__card-description:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1919px) {
  .motivation__card-image {
    margin-block: -20px;
  }
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url("../../icons/plus.svg") center/contain no-repeat;
}
.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.4em;
  left: -0.6em;
  color: transparent;
  -webkit-text-stroke: 1px #404040;
  text-stroke: 1px #404040;
  font-size: 2.8em;
  font-family: "Yantramanav", sans-serif;
}
.backdrop-title.centered::after {
  top: -0.3em;
  left: 50%;
  translate: -50% 0;
  line-height: 1;
}

.training-types {
  position: relative;
  background: #000;
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
}
.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  padding-inline-end: 20px;
}
@media (max-width: 1170px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 990px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .training-types__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.training-types__item {
  --trainingTypesItemBgIconSize: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url("../../icons/transparent-arrow-bottom-left.svg") 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}
@media screen and (max-width: 990px) {
  .training-types__item {
    row-gap: 20px;
    --trainingTypesItemBgIconSize: 60px;
  }
}
.training-types__image {
  width: 150px;
  height: 140px;
}
@media screen and (max-width: 767px) {
  .training-types__image {
    width: 110px;
    height: 105px;
  }
}
.training-types__title {
  font-size: 16px;
}

.join-us {
  background-color: #131619;
}
.join-us__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/join-us/join-us-bg-image.jpg") center/cover no-repeat #131619;
  padding: 150px 30px;
}
@media screen and (max-width: 767px) {
  .join-us__video-wrapper {
    padding: 100px 30px;
  }
}
.join-us__video {
  width: 100%;
  max-width: 960px;
  height: auto;
}
.join-us__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .join-us__play-button {
    width: 130px;
  }
}
.join-us__play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("../../icons/arrow-top-right.svg") center/contain no-repeat;
  transition: 0.2s ease-in;
}
.join-us__play-button:hover {
  background-color: #fff;
  color: #000;
}
.join-us__play-button:hover::after {
  filter: invert(1);
}
.join-us__body {
  padding-bottom: 150px;
}
.join-us__title {
  position: relative;
  margin-top: -0.4em;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}
.join-us__title::after {
  margin-left: 0.14em;
  content: "";
  display: inline-block;
  height: 0.7em;
  aspect-ratio: 1;
  background: url("../../icons/bold-arrow-down-right.svg") center/contain no-repeat;
  scale: 1 -1;
}
.join-us__title:not(:last-child) {
  margin-bottom: 130px;
}
@media screen and (max-width: 767px) {
  .join-us__title:not(:last-child) {
    margin-bottom: 70px;
  }
}
.join-us__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}
.join-us__form-header:not(:last-child) {
  margin-bottom: 50px;
}
.join-us__form-body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .join-us__form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
.join-us__form-input {
  max-width: 400px;
}
.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.location__map-image {
  height: auto;
}
.location__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 15px;
}
@media screen and (max-width: 767px) {
  .location__body {
    padding: 60px;
  }
}
.location__title:not(:last-child) {
  margin-bottom: 14px;
}
.location__description:not(:last-child) {
  margin-bottom: 37px;
}
@media screen and (max-width: 767px) {
  .location__description:not(:last-child) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .location {
    display: flex;
    flex-direction: column-reverse;
  }
}

.famaly__header {
  padding-top: 132px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 7px;
}
@media screen and (max-width: 990px) {
  .famaly__header {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.famaly__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
@media screen and (max-width: 990px) {
  .famaly__body {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.famaly__image {
  scroll-snap-align: start;
}
@media screen and (max-width: 990px) {
  .famaly__image {
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .famaly__image {
    height: 180px;
  }
}

.calculate {
  padding-block: 146px;
  background-color: #131619;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
@media screen and (max-width: 990px) {
  .calculate {
    padding-block: 100px;
  }
}
@media screen and (max-width: 767px) {
  .calculate {
    padding-block: 60px;
  }
}
.calculate__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media screen and (max-width: 990px) {
  .calculate__inner {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .calculate__inner {
    flex-direction: column;
    row-gap: 40px;
  }
}
.calculate__body {
  flex-grow: 1;
  max-width: 627px;
}
.calculate__title:not(:last-child) {
  margin-bottom: 16px;
}
.calculate__description {
  max-width: 385px;
}
.calculate__description:not(:last-child) {
  margin-bottom: 30px;
}
.calculate__form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}
@media screen and (max-width: 990px) {
  .calculate__form-body {
    grid-template-columns: repeat(1, 1fr);
  }
}
.calculate__form-body:not(:last-child) {
  margin-bottom: 26px;
}
.calculate__input option {
  color: #c4c4c4;
  background: #131619;
}
.calculate__input.wide {
  grid-column: -1/1;
}
.calculate input::-webkit-outer-spin-button,
.calculate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculate input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 990px) {
  .calculate__button {
    width: 100%;
  }
}
.calculate__table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 610px;
  width: 100%;
}
.calculate__table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: #000;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .calculate__table-wrapper::before {
    display: none;
  }
}
.calculate__table {
  position: relative;
  border-collapse: collapse;
}
.calculate__table th {
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
.calculate__table td {
  padding-block: 14px;
}
.calculate__table tfoot {
  color: #fff;
}
.calculate__table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
}
.calculate__table :is(td, th) {
  padding-right: 30px;
}
.calculate__table :is(td, th):not(:first-child) {
  padding-left: 30px;
}
.calculate__table :is(td, th):not(:last-child) {
  border-right: 1px solid #404040;
}
.calculate__table tbody td {
  border-top: 1px solid #404040;
}
.calculate__table tbody tr:last-child td:first-child {
  position: relative;
}
.calculate__table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: #404040;
}
@media screen and (max-width: 990px) {
  .calculate__table :is(td, th) {
    padding-block: 10px;
  }
  .calculate__table tfoot td {
    padding-top: 10px;
  }
}

.button {
  display: inline-flex;
  height: 38px;
  align-items: center;
  padding-inline: 26px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 30px;
}
.button:hover {
  background-color: #fdbf2d;
}
@media screen and (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}
.button.transparent {
  position: relative;
  height: 54px;
  padding-left: 31px;
  padding-right: 80px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url("../../icons/button-arrow.svg") center/contain no-repeat;
  border: 1px solid #fff;
  border-radius: 50%;
}
.button.transparent:hover {
  color: #000;
  background-color: #c4c4c4;
}/*# sourceMappingURL=main.css.map */