.calculate {
  padding-block: 146px;
  background-color: $gray-bg;
  @include mediaTablet {
    padding-block: 100px;
  }
  @include mediaSmartphone {
    padding-block: 60px;
  }
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 36px;
    @include mediaTablet {
      column-gap: 20px;
    }
    @include mediaSmartphone {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__body {
    flex-grow: 1;
    max-width: 627px;
  }

  &__title:not(:last-child) {
    margin-bottom: 16px;
  }

  &__description {
    max-width: 385px;
  }

  &__description:not(:last-child) {
    margin-bottom: 30px;
  }

  &__form {
  }

  &__form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 30px;
    @include mediaTablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__form-body:not(:last-child) {
    margin-bottom: 26px;
  }

  &__input option {
    color: $light-gray;
    background: $gray-bg;
  }
  &__input.wide {
    grid-column: -1 / 1;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  &__button {
    @include mediaTablet {
      width: 100%;
    }
  }

  &__table-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 610px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      aspect-ratio: 1;
      background-color: $black;
      border-radius: 50%;
      @include mediaSmartphone {
        & {
          display: none;
        }
      }
    }
  }

  &__table {
    position: relative;
    border-collapse: collapse;

    th {
      padding-block: 20px;
      text-align: left;
      text-transform: uppercase;
      color: $white;
    }
    td {
      padding-block: 14px;
    }
    tfoot {
      color: $white;
    }
    tfoot td {
      padding-top: 33px;
      padding-bottom: 0;
    }

    & :is(td, th) {
      padding-right: 30px;
    }
    & :is(td, th):not(:first-child) {
      padding-left: 30px;
    }
    & :is(td, th):not(:last-child) {
      border-right: 1px solid $dark-gray;
    }
    tbody td {
      border-top: 1px solid $dark-gray;
    }
    tbody tr:last-child td:first-child {
      position: relative;
    }
    tbody tr:last-child td:first-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1px;
      background-color: $dark-gray;
    }
    @include mediaTablet {
      & :is(td, th) {
        padding-block: 10px;
      }
      & tfoot td {
        padding-top: 10px;
      }
    }
  }
}
