.training-types {
  position: relative;
  background: $black;
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding-inline-end: 20px;
    @media (max-width: 1170px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mediaTablet {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
    @include mediaSmartphone {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  &__item {
    --trainingTypesItemBgIconSize: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding-top: var(--trainingTypesItemBgIconSize);
    background: url("../../icons/transparent-arrow-bottom-left.svg") 100% 0 / var(--trainingTypesItemBgIconSize)
      no-repeat;

    @include mediaTablet {
      row-gap: 20px;
      --trainingTypesItemBgIconSize: 60px;
    }
  }

  &__image {
    width: 150px;
    height: 140px;
    @include mediaSmartphone {
      width: 110px;
      height: 105px;
    }
  }

  &__title {
    font-size: 16px;
  }
}
