// font-family: 'Heebo', sans-serif;
// font-family: 'Playfair', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Yantramanav', sans-serif;

//fonts
$main-font: "Heebo", sans-serif;
$accent-font: "Yantramanav", sans-serif;

//colors
$accent: #fdbf2d;
$white: #fff;
$light-gray: #c4c4c4;
$dark-gray: #404040;
$gray-bg: #131619;
$black: #000;

//border
$border-radius: 30px;
$border: 1px solid $white;

//input
$input-higth: 54px;
$header-higth: 90px;

//container
$container-width: 1300px;
$container-padding-x: 15px;

$transition-duration: 0.2s ease-in;

//media
$tablet: 990px;
$smartphone: 767px;
